doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        a(href="/scrap") Scrap
        form(action="/scrap", method="post") 
            label(for="query") scrapeadol
            input(type="text", name="query", id="query")  
            button(type="submit") Buscar
        each producto in data 
            article 
                img(src=producto.image)
                h2= producto.title
                p= producto.price + "€"
                p= producto.shop 
                p= producto.query
                a(href=producto.url) Ver producto
